*.iml
*.DS_Store
.idea
**/.vscode/**
!platform/Flutter/.vscode/launch.json
.vs
.cxx
.cache
.gradle
*.gv
/cmake-build-*
/build
/out
/docs/doxygen
tests/output
tests/build
CMakeSettings.json

.tmp
.codex
.claude
.trae/